* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
  font: 200;
}

.sidebarOption > .MuiSvgIcon-root {
  padding: 15px;
  font-size: 30px;
}
.sidebarOption > h2 {
  font-weight: 500;
  font-size: large;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--twitter-hover);
  border-radius: 30px;
  transition: background-color 200ms ease-in;
}

.sidebarOption--active {
  color: var(--twitter-black);
}

.sidebar__tweet {
  background-color: var(--twitter-color) !important;
  border: none !important;
  color: white !important;
  font-weight: 900 !important;
  text-transform: inherit !important;
  margin-top: 20px !important;
  border-radius: 30px !important;
  height: 50px;
  width: 230px !important;
}

.sidebar {
  border-right: 1px solid var(--twitter-background);
  flex: 0.2;
  min-width: 250px;

  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.sidebar__twitterIcon {
  color: var(--twitter-color);
  font-size: 30px !important;
  margin-left: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.sidebar__profile {
  padding: 10px;
  margin-top: 250px;
  margin-left: 20px;
  display: flex;
  height: 36px;
  width: 225px;
}
.sidebar__profile:hover {
  background-color: #e8f5fe;
  border-radius: 30px;
  color: var(--twitter-color);
  transition: color 90ms ease-out;
  cursor: pointer;
}
.sidebar__profileUsername {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 40px;
  font-size: 12px;
}
.sidebar__horizon {
  margin-top: 6px;
  margin-left: 20px;
}
.sidebar__profileUsername h3:nth-child(2) {
  color: gray;
}
.feed {
  flex: 0.5;
  border-right: 1px solid var(--twitter-background);

  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  backdrop-filter: blur(100px);
  margin-bottom: -10px;

  z-index: 1;
  opacity: 0.8;
  padding: 15px 20px;
}

.foot__header > h2 {
  font-size: 20px;
  font-weight: 800;
}
.feed ::-webkit-scrollbar {
  display: none;
}

.widgets {
  flex: 0.3;
}

.sidebar__hashtag {
  margin-left: 15px;
  font-size: 30px;
  height: 60px;
}
.sidebar__explore {
  padding-bottom: 10000px;
  display: inline;
  font-weight: 500;
  font-size: large;
  margin-bottom: 10px;
}
.sidebar__hashtagIcon {
  padding-top: 10px;
  margin-right: 10px;
}

.sidebar__hashtag:hover {
  background-color: var(--twitter-hover);
  border-radius: 30px;
  transition: background-color 200ms ease-in;
}
